<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
</head>
<body>
<h2>WELCOME TO REGISTRATION PAGE</h2>

<form action = "/register" method="POST">
    <H3>please fill the form:</H3>
  <label>Enter you Name:</label><br>
  <input type = "text" required name = "name"><br><br>
  <label>Enter your Email:</label><br>
  <input type = "email" required name= "email"><br><br>
  <label>Enter your password:</label><br>
  <input type = "password" required name= "password"><br><br>
  <input type = "submit"  name = "submit" value = "Submit">
</form>
</body>
</html>