<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <title>Plants</title>
</head>
<style>
    .dropdown-item:hover{
        background-color: darkolivegreen;
    }
    *{
        font-family: Garamond;
    }
</style>
<body>
    <header>
        <!-- navbar start -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(33, 48, 8);">
            <div class="container-fluid">
                <a class="navbar-brand" href="/home" style="font-family: Lucida Handwriting">Blossoms & Berries</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/home">Home</a>
                        <a class="nav-link" href="/signupForm">Register</a>
                        <a class="nav-link" href="/loginForm">Login</a>
                        <a class="nav-link" href="/About">About</a>
                        <a class="nav-link" href="/cart">View Cart</a>
                        <a class="nav-link" href="/userProfile">Profile</a>
                    </div>
                </div>
            </div>
        </nav>
        <!--navbar end-->
    </header>
    <body>
        <div class="container-fluid my-4 mx-3">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: darkolivegreen;font-size: 18px;margin-left: 20px;">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <h2>Categories</h2>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center  align-items-sm-start" id="menu">
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline text-white" style="font-weight: bold">Plants<i class="fa fa-caret-down" style="margin-left: 80px" aria-hidden="true"></i></span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                                <li>
                                    <a href="/flowering" class="nav-link px-0  text-white"> <span class="d-none d-sm-inline">Flowering</span></a>
                                </li>
                                <li>
                                    <a href="/non-flowering" class="nav-link px-0  text-white"> <span class="d-none d-sm-inline">Non-Flowering</span></a>
                                </li>
                                <li class="w-100">
                                    <a href="/creeper" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">Creepers</span></a>
                                </li>
                                <li>
                                    <a href="/climber" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">Climbers</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline text-white" style="font-weight: bold">Seeds<i class="fa fa-caret-down" style="margin-left: 82px" aria-hidden="true"></i></span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li>
                                    <a href="/fruits" class="nav-link px-0  text-white"> <span class="d-none d-sm-inline">Fruits</span></a>
                                </li>
                                <li>
                                    <a href="/flowers" class="nav-link px-0  text-white"> <span class="d-none d-sm-inline">Flowers</span></a>
                                </li>
                                <li class="w-100">
                                    <a href="/vegetables" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">Vegetables</span></a>
                                </li>
                                <li>
                                    <a href="/indoor_plants" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">Indoor Plants</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline text-white" style="font-weight: bold">Fertilizers<i class="fa fa-caret-down" style="margin-left: 55px" aria-hidden="true"></i></span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li>
                                    <a href="/Nfertilizer" class="nav-link px-0  text-white"> <span class="d-none d-sm-inline">Nitrogen</span></a>
                                </li>
                                <li>
                                    <a href="/PHfertilizer" class="nav-link px-0  text-white"> <span class="d-none d-sm-inline">Phosphorus</span></a>
                                </li>
                                <li class="w-100">
                                    <a href="/Pfertilizer" class="nav-link px-0"> <span class="d-none d-sm-inline text-white">Potassium</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
                <div class="col-md-9">
                    <h1 class="text-white" style="text-align: center;background-color: darkolivegreen;">{{name}}</h1>
                          <h3>{{msg}}</h3>
                    <div class="row my-4">
                        {% for plants in products %}
                            <div class="col-md-4">
                                <div class="card" style="background-color: #cad2c5;margin-top: 40px;height: 400px">
                                    <img src="{{ url_for('static', filename='product_images/' + plants.image) }}" alt="plants" style="width:100%;height: 200px">
                                    <h3 class="text-center">{{ plants.name }}</h3>
                                    <h3 class="price mx-3">Rs.{{ plants.price }}</h3>
                                     <div class = "input-group my-3">
                                        <form action="/cart" method="post">
                                        <input type="hidden" name="product_id" value="{{ plants.id }}">
                                        <input type = "submit"  class=" btn btn-dark text-center mx-4" name = "Add to Cart" value = "Add to Cart">
                                        </form>
                                        <form action="/single_product" method="post">
                                        <input type="hidden" name="product_id" value="{{ plants.id }}">
                                        <input type = "submit"  class="text-center btn btn-dark " name = "View Detail" value = "View Detail">
                                        </form>
                                     </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    <!--Footer Start-->
    <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/" target="_blank" role="button"><i class="fab fa-facebook-f"></i
        ></a>

                <!-- Twitter -->
                <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/?lang=en" target="_blank" role="button"><i class="fab fa-twitter"></i
        ></a>

                <!-- Google -->
                <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="https://www.google.com/" target="_blank" role="button"><i class="fab fa-google"></i
        ></a>

                <!-- Instagram -->
                <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/" target="_blank" role="button"><i class="fab fa-instagram"></i
        ></a>

                <!-- Linkedin -->
                <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="https://pk.linkedin.com/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i
        ></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgb(33, 48, 8);">
            © 2023 Copyright
            <!--<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
        </div>
        <!-- Copyright -->
    </footer>
    <!--Footer End-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</body>

</html>