
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  	<script
  src="http://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <title>Register</title>
  </head>
  <style>
    *{
        font-family: Garamond;
    }
  </style>
  <body>
    <header>
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(33, 48, 8);">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home" style="font-family: Lucida Handwriting">Blossoms & Berries</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link " aria-current="page" href="/home">Home</a>
                <a class="nav-link active" href="/signupForm">Register</a>
                <a class="nav-link" href="/loginForm">Login</a>
                <a class="nav-link" href="/About">About</a>
                <a class="nav-link" href="/cart">View Cart</a>
                <a class="nav-link" href="/userProfile">Profile</a>
            </div>
          </div>
        </div>
      </nav>
    <!-- navbar end -->
  </header>
  <!-- header end -->

  <!-- body start -->
    <div>
        <div class="container h-100 my-4">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
              <div class="card text-black" style="border-radius: 20px; background-color: #cad2c5;">
                <div class="card-body p-md-5">
                  <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                      <form action="/signup" method="post" class="mx-1 mx-md-4">

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="name" name="name" class="form-control"  required/>
                            <label class="form-label" for="name">Your Name</label>
                          </div>
                        </div>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="email" name="email" class="form-control" required/>
                            <label class="form-label" for="email">Your Email</label>
                          </div>
                        </div>

                          <p style="color:darkred">{{ msg2 }}</p>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" id="password" name="password" class="form-control" required/>
                            <label class="form-label" for="password">Password</label>
                          </div>
                        </div>

                            <p id="lengthCheck" style="color:darkred">{{ msg }}</p>

                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" id="pass2" name="password2" class="form-control" required />
                            <label class="form-label" for="pass2">Repeat your password</label>
                          </div>
                        </div>

                            <p id="sameCheck" style="color:darkred"></p>



                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <input type="submit" class="btn btn-dark btn-lg" value="Register" style="padding: 12px 55px;" >
                        </div>
                          <p style="color: darkred">{{ errmsg }}</p>
                      </form>

                    </div>
                    <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                      <img src="/static/image/B&BSignup.png"
                        class="img-fluid" alt="Sample image">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $('#password').blur(function (){
                var passVal=$('#password').val()
                console.log(passVal)

                if(passVal.length < 8){
                    document.getElementById("lengthCheck").innerHTML="*Must be 8 characters or more."
                }
                else
                {
                    document.getElementById("lengthCheck").innerHTML=""
                }
            });
            $('#pass2').blur(function (){
                var pass2Val=$('#pass2').val()
                console.log(pass2Val)
                var pass1Val=$('#password').val()
                console.log(pass1Val)

                var x = pass2Val.localeCompare(pass1Val)
                if(x===0){
                    console.log("same")
                    document.getElementById("sameCheck").innerHTML=""
                }
                else{
                    console.log("different")
                    document.getElementById("sameCheck").innerHTML="*Passwords do not match."
                }

            })
        })
    </script>
  <!-- body end -->

  <!--Footer Start-->
  <footer class="bg-light text-center text-white my-4">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
              <!-- Facebook -->
              <a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/" target="_blank" role="button"><i class="fab fa-facebook-f"></i
      ></a>

              <!-- Twitter -->
              <a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/?lang=en" target="_blank" role="button"><i class="fab fa-twitter"></i
      ></a>

              <!-- Google -->
              <a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="https://www.google.com/" target="_blank" role="button"><i class="fab fa-google"></i
      ></a>

              <!-- Instagram -->
              <a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="https://www.instagram.com/" target="_blank" role="button"><i class="fab fa-instagram"></i
      ></a>

              <!-- Linkedin -->
              <a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="https://pk.linkedin.com/" target="_blank" role="button"><i class="fab fa-linkedin-in"></i
      ></a>
              <!-- Github -->

          </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(33, 48, 8);">
      © 2023 Copyright
      <!--<a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
    </div>
    <!-- Copyright -->
  </footer>
   <!--Footer End-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="./public/js/bootstrap.js"></script>
</body>
</html>
